@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: local("Outfit"),
         url("/fonts/Outfit-SemiBold-96ab0b8ca370a784a820c2765775418d.woff2") format("woff2"),
         url("/fonts/Outfit-SemiBold-3287e05622cb5eb779822ae1e1932d7e.woff") format("woff");
  }



body {
    font-feature-settings: "pnum" on,"lnum" on;
    background: #fff;
    color: #171923;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
}

.header a {
    padding-left: 60px;
    max-width: 1440px;
}

.tab__links {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-left: 60px;
  }
  @media (max-width: 768px) {
    .tab__links {
      padding-left: 0;
    }
  }

.tab {
    width: 100%;
    height: 38px;
    background-color: #ffaa4c;
  }

.tab__link {
    padding: 9px 40px;
    border-radius: 20px 20px 0px 0px;
}
@media (max-width: 353px) {
    .tab__link {
        padding: 9px 20px;
    }    
}

.tab_active {
    background-color: #181818;
}
a {
    color: inherit;
    text-decoration: none;
}

.main {
    position: relative;
    overflow: hidden;
    background-color: #181818;
}

.tab_active .tab__text {
    color: #FFFFFF;
    font-family: Outfit,sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

header {
    width: 100%;
    height: 71px;
    background-color: #181818;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    padding: 0 60px;
}

.header__container a {
    display: flex;
    justify-content: center;
}

.header__link img {
    width: 51px;
    height: 51px;
}

.header__text {
    color: #FFFFFF;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    text-transform: lowercase;
}



.header__button {
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
}

.header__logo {
    display: flex;
}

.header__contacts button {
    border: 2px solid transparent;
    border-radius: 16px;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 14px 28px;
    color: #ffffff;
    background-color: #954ced;
    -webkit-transition: scale 0.3s;
    transition: scale 0.3s;
    overflow: hidden;
  }
  .header__contacts button:before {
    content: "";
    width: 100px;
    position: absolute;
    width: 0;
    height: 0;
    background-color: #181818;
    color: #FFFFFF;
    border-radius: 50%;
    left: -40px;
    bottom: -35px;
    transition: left 0.3s, bottom 0.3s, height 1s, width 1s,
      scale 0.3s;
  }
  .header__contacts button:not(:disabled, :active):hover {
    transition: scale 0.3s, background-color 1.5s;
    scale: 1.05;
    background-color: #181818;
    color: #ffffff;
    border-color: #954ced;
  }
  .header__contacts button:not(:disabled, :active):hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    scale: 5;
    transition: left 0.3s, bottom 0.3s, height 0.5s, width 1s;
  }
  .header__contacts button:hover .header__button {
    color: #ffffff;
    z-index: 15;
  }
  
  .header__contacts button:not(:disabled, :active):focus-visible {
    border: 4px solid #ba8bf3;
    padding: 12px 26px;
  }
  .header__contacts button:not(:disabled):active {
    background-color: #7b31d4;
    scale: 1.05;
  }
  .header__contacts button:not(:disabled):active:before {
    left: 0;
    bottom: 0;
    scale: 7;
    background-color: #7b31d4;
  }

  .header__button span {
    color: inherit;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .hero {
    position: relative;
    padding: 130px 0 0 110px;
    background-color: #181818;
    max-width: 1440px;
    margin: 0 auto;
    height: 821px;
}

.hero__textfield {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 671px;
    z-index: 10;
}

.hero__h1 {
    color: #FFFFFF;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 106%;
    font-feature-settings: 'liga' off;
    margin-bottom: 20px;
}

.hero__h2 {
    max-width: 534px;
    color: #FFFFFF;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    margin-bottom: 40px;
}

.hero__image.woman  {
    position: absolute;
    right: 49px;
    bottom: 0;
    width: 606px;
    height: 753px;
    z-index: 2;
}

.hero__image.figure {
    position: absolute;
    z-index: 0;
    left: 54.1%;
    bottom: -34px;
    width: 2000px;
    height: 760px;
}

